/build/
nbproject/build-impl.xml

*.properties

*.properties

*.xml

nbproject/genfiles.properties

nbproject/project.properties

nbproject/project.xml

*.xml

nbproject/build-impl.xml

nbproject/genfiles.properties

nbproject/project.properties

nbproject/project.xml

nbproject/project.properties

nbproject/private/private.xml

nbproject/private/private.properties
